@import "~bulma/sass/utilities/_all";

$first-color: rgb(223, 173, 75);

/* NAVBAR */
$navbar-height: 5rem;
$navbar-background-color: #810200;
$navbar-item-hover-background-color: rgba(0,0,0, 0.1);
$navbar-item-color: $first-color;
$navbar-item-hover-color: mix($first-color, white);

nav[primary]{
    height:5rem;
}

img > a {
    padding:0 !important;
}

/* GENERAL */
body {
    background-color: rgb(223, 173, 75);
    min-height: 100vh;
}

/* LANDING PAGE */
#landing-card header p{
    text-align: center;
    display: block;
}


@import "~bulma";
@import "~buefy/src/scss/buefy";