@import "./node_modules/animate.css/animate.compat.css";

.page-enter-active {
    animation: zoomInDown 0.5s;
}

.page-leave-active {
    animation: zoomOutDown 0.5s;
}

#page-order{
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.pizza-tile{
    margin: 1rem;
    border-radius: 1rem;
}