<template>
    <section>
        <b-sidebar
            type="is-primary"
            :fullheight="true"
            :fullwidth="false"
            :overlay="true"
            :right="false"
            :open.sync="open"
        >

        <b-menu style="margin-top:1rem" :activable="false">
            <b-menu-list label="Twoje zamówienie">
                <b-menu-item v-for="(order, index) in orders" :key="'pizza-'+index" :label="order.display+' '+getSize(order.size)+' - '+order.price+'zł'">
                    <b-menu-list label="Składniki">
                        <b-menu-item v-for="(ing, index2) in order.ingradients" :key="'ing-'+index + '-' + index2" :label="getDisplayIngradientName(ing)">
                            
                        </b-menu-item>
                    </b-menu-list>
                </b-menu-item>
            </b-menu-list>
        </b-menu>

        <b-menu>
            <b-menu-list label="Dodatki">
                <b-menu-item v-for="(addon, index) in addons" :key="'addon-'+index" :label="addon.display + ' - ' + addon.cost + 'zł'"></b-menu-item>
            </b-menu-list>
        </b-menu>

        <b-menu>
            <b-menu-list label="Podsumowanie">
                <b-menu-item :label="'Opłata za pizzę: '+fullPrice+'zł'"></b-menu-item>

            </b-menu-list>
        </b-menu>


        </b-sidebar>
    </section>
</template>

<script>
export default {
    computed:{
        open: { get() { return this.$store.state.sidebarOpen; }, set() { this.$store.commit("closeSidebar"); } },
        orders: {
            get(){
                if(this.$store.state.order.ordered.length > 0){
                    return this.$store.state.order.ordered;
                } else {
                    return [];
                }
            } 
        },
        addons: {
            get(){
                if(this.$store.state.order.orderedAddons.length > 0){
                    return this.$store.state.order.orderedAddons;
                } else {
                    return [];
                }
            } 
        },
        fullPrice(){
            let price = 0;
            this.$store.state.order.ordered.forEach(object => {
                price += object.price;
            });
            return price;
        }
    },
    methods: {
        close(){
            this.$store.commit("closeSidebar");
        },
        getDisplayIngradientName(name){
            console.log(name);
            var temp = "Nie ma!";
            this.$store.state.menu.ingradients.forEach(object => {
                if(object.name === name){
                    temp = object.display;
                }
            });
            return temp;
        },
        getSize(num){
            if(num == 0){
                return "Mała";
            } else if (num == 1){
                return "Średnia";
            } else {
                return "Duża";
            }
        }
    }
}
</script>

<style>

</style>