<template>
<div>

    <div>
        <b-icon icon="cup"></b-icon>
        <h1 class="title" style="display:inline-block">Napoje</h1>
    </div>
    <div style="padding-left:2rem" class="is-size-5">
        <ul>
            <li v-for="(drink, index) in drinks" :key="'drinks-'+index" @click="addAddon(drink)">
                {{ drink.display + " "}} 
                <span class="has-text-weight-bold">{{ drink.cost }}zł</span>
            </li>
        </ul>
    </div>

    <div>
        <b-icon icon="bowl"></b-icon>
        <h1 class="title" style="display:inline-block">Sosy</h1>
    </div>
    <div style="padding-left:2rem" class="is-size-5">
        <ul>
            <li v-for="(oneSauce, index) in sauce" :key="'sauce-'+index" @click="addAddon(oneSauce)">
                {{ oneSauce.display + " "}} 
                <span class="has-text-weight-bold">{{ oneSauce.cost }}zł</span>
            </li>
        </ul>
    </div>

    <div>
        <b-icon icon="food"></b-icon>
        <h1 class="title" style="display:inline-block">Dania</h1>
    </div>
    <div style="padding-left:2rem" class="is-size-5">
        <ul>
            <li v-for="(dish, index) in dishes" :key="'dish-'+index" @click="addAddon(dish)">
                {{ dish.display + " "}} 
                <span class="has-text-weight-bold">{{ dish.cost }}zł</span>
            </li>
        </ul>
    </div>

</div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    computed: {
        drinks() {
            return this.$store.state.menu.drinks
        },
        sauce(){
            return this.$store.state.menu.sauce
        },
        dishes(){
            return this.$store.state.menu.dishes
        }
    },
    methods: {
        addAddon(obj){
            this.$store.commit('order/addNewAddon', obj);
            this.$buefy.snackbar.open({message: "Dodano do zamówienia " + obj.display, position: "is-top", type: "is-success", actionText: null});
        }
    }
}
</script>

<style scoped>
li {
    cursor: pointer;

}
li:hover{
    text-decoration: underline;
}
</style>