<template>
    <div style="position: fixed; bottom:0">
        <div class="columns is-centered is-mobile">
            <div class="column is-narrow">
            Elo

            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>