<template>
<div>
    <b-field label="Pełny adres">
        <b-input v-model="address"></b-input>
    </b-field>
    <b-field label="Uwagi do zamówienia">
        <b-input v-model="notes" type="textarea"></b-input>
    </b-field>
    <b-button type="is-success" @click="order" :loading="loading">
        Zamów
    </b-button>
</div>
</template>

<script>
export default {
    data(){
        return {
            address: "",
            notes: "",
            loading: false,
        }
    },
    methods: {
        order(){
            this.loading = true;
            
        }
    }
}
</script>

<style>

</style>