<template>
  <b-navbar :fixed-top="true" primary>
        <template slot="brand">
            <router-link to="/" style="height:80px">
                <img src="~/assets/logo.png" class="pizza-logo">
            </router-link>
        </template>
        <template slot="end">
            <b-navbar-item v-show="isOrderStarted()" @click="sidebarOpen"> 
                <b-button type="is-warning">Zobacz koszyk</b-button>
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/order' }">
                Zamów online
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/maps' }">
                Mapa lokali
            </b-navbar-item>
            <b-navbar-item tag="router-link" :to="{ path: '/about' }">
                O nas
            </b-navbar-item>
        </template>
    </b-navbar>
</template>

<script>
export default {
    methods: {
        isOrderStarted(){
            if(this.$store.state.order.ordered.length > 0){
                return true;
            } else {
                return false;
            }
        },
        sidebarOpen(){
            this.$store.commit("openSidebar");
        }
    }
}
</script>
<style scoped>
img {
    max-height:80px !important;
    width: auto !important;
}
</style>