<template>
<div>
    <div class="columns is-multiline is-centered">
        <div 
            v-for="pizza in predefinedPizzas"
            :key="pizza.name"
            class="column is-two-fifths pizza-tile"
            :class="pizza.color | nameBackgroundClass"
        >
            <h4 class="title is-4">{{ pizza.display }}</h4>
            <div class="columns is-centered">
                <div class="column content">
                    Składniki:
                    <ul>
                        <li v-for="ing in pizza.ingradients" :key="ing">{{ helperGetName(ing) }}</li>
                    </ul>
                </div>
                <div class="column">
                    Cena: {{ getPriceForPizza('small', pizza.ingradients) }}zł
                </div>
            </div>
            
            <b-button type="is-dark" @click="order(pizza)">Dodaj do zamówienia</b-button>
        </div>
    </div>
    <single-pizza-creator 
        :getPriceForPizza="getPriceForPizza"
        :helperGetName="helperGetName"    
        :helperGetPrice="helperGetPrice"
    ></single-pizza-creator>
</div>
</template>

<script>
import { mapActions } from 'vuex'

import SinglePizzaCreator from './PizzaCreator/SinglePizzaCreator.vue'

export default {
    data(){
        return {
        }
    },
    components:{
        'single-pizza-creator': SinglePizzaCreator
    },
    computed: {
        predefinedPizzas(){
            return this.$store.state.menu.predefinedPizzas;
        },
        ingradients(){
            return this.$store.state.menu.ingradients;
        },
        sizes(){
            return this.$store.state.menu.sizes;
        },
        
    },
    filters: {
        nameBackgroundClass(value){
            return "has-background-"+value;
        }
    },
    methods:{
        helperGetName(value){
            let continoue = true;
            let result;
            this.$store.state.menu.ingradients.forEach((el) => {
                if(el.name == value && continoue){
                    result = el.display;
                    continoue = false;
                }
            });
            return result;
        },
        helperGetPrice(value){
            let continoue = true;
            let result;
            this.$store.state.menu.ingradients.forEach((el) => {
                if(el.name == value && continoue){
                    result = el.cost;
                    continoue = false;
                }
            });
            return result;
        },
        getPriceForPizza(size, ing){
            if(ing === undefined){
                return 0;
            }
            var result = 0;
            this.sizes.forEach((el => {
                if(el.size === size){
                    result += el.cost;
                }
            }));
            ing.forEach((name) => {
                this.ingradients.forEach((obj) => {
                    if(name === obj.name){
                        result += obj.cost;
                    }
                })
            })
            return result;
        },
        order(pizza){
            this.$store.commit('order/showModal', pizza);
        },
        modalClosed(){
            console.log("test");
        }
    }
}
</script>

<style>

</style>