<template>
    <div class="container has-background-white" id="page-order">
        <!-- h1 class="title">Kreator zamówienia online</h1> -->

        <b-steps v-model="activeStep" :has-navigation="false" size="is-medium" type="is-success" :mobile-mode="null">
            <template>
                <b-step-item label="Stwórz zamówienie" :clickable="true" icon="pizza">
                    <pizza-creator></pizza-creator>
                </b-step-item>
                <b-step-item label="Dodaj dodatki" :clickable="true" icon="food-variant">
                    <addons></addons>
                </b-step-item>
                <b-step-item label="Szczegóły odbioru" :clickable="true" icon="cash-register">
                    <checkout></checkout>
                </b-step-item>
            </template>
        </b-steps>
    </div>
</template>

<script>

import PizzaCreator from '~/components/PizzaCreator.vue'
import Addons from '~/components/Addons.vue'
import Checkout from '~/components/Checkout.vue'

export default {
    data(){
        return {
            activeStep: 0,
        }
    },
    components: {
        'pizza-creator': PizzaCreator,
        'addons': Addons,
        'checkout': Checkout,
    }
}
</script>

<style>

</style>