<template>
<div id="primary">
    <actual-order />
    <Navbar />
    <nuxt />
</div>
</template>

<script>
import Navbar from '~/components/Navbar.vue';
import ButtonToCheckOrder from '~/components/ButtonToCheckOrder.vue';
import ActualOrder from '~/components/ActualOrder.vue';


export default {
    components:{
        Navbar, ButtonToCheckOrder, ActualOrder
    },
    data () {
        return {
        }
    }
}
</script>
