<template>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-quarters-desktop is-full-mobile">
            <b-carousel :arrow="false" :indicator="false" :indicator-inside="false" :pause-hover="false" class="pizza-carousel animated animate__fadeIn">
                <b-carousel-item>
                    <img src="~/assets/pizza1.jpg">
                </b-carousel-item>
                <b-carousel-item>
                    <img src="~/assets/pizza2.jpg">
                </b-carousel-item>
                <b-carousel-item>
                    <img src="~/assets/pizza3.jpg">
                </b-carousel-item>
            </b-carousel>
            <div class="card fadeDown" id="landing-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Jak działamy?
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        Dobra pizzeria to nie tylko wysokiej jakości dania. To także wyjątkowa więź między obsługą a Klientami. Już od 1996 roku wkładamy serce w przygotowywane przez nas potrawy, dzięki czemu nasi Klienci ciągle do nas wracają. Jesteśmy Przyjaciółmi od pizzy, ponieważ nasze restauracje tworzone są przez przyjaciół dla przyjaciół. Najlepsza Margherita, duża Capriciosa czy Wegetariańska na cienkim cieście? Wszystkie przygotowywane przez nas potrawy są skomponowane z najlepszej jakości składników. Nasza oferta doskonale nadaje się na lunch w pracy, rodzinny obiad czy kolację z przyjaciółmi. Oprócz pysznej pizzy w menu znajdziesz m.in. sałatki ze świeżych warzyw, oryginalne startery i desery, że palce lizać! 
                    </div>

                    <div class="content is-large">Wybierz sposób zamówienia: </div>
                    <div class="columns">
                        <div class="column">
                        
                        <b-button type="is-success" size="is-large" expanded tag="router-link" to="/order">
                            <b-tooltip label="Wygodny kreator online!" :animated="true" type="is-info">
                                Zamów online
                            </b-tooltip>
                        </b-button>
                        </div>
                        <div class="column">
                        <b-button type="is-warning" size="is-large" expanded @click="phoneModal = true">
                            Zadzwoń
                        </b-button>
                        </div>
                        <div class="column">
                        <b-button type="is-info" size="is-large" expanded tag="router-link" to="/maps">
                            Znajdź lokal
                        </b-button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <b-modal :active.sync="phoneModal" has-modal-card can-cancel>
        
        <div class="modal-card">
                <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Numery kontaktowe</p>
                            <button class="delete" @click="phoneModal = false"></button>
                        </header>
                        <section class="modal-card-body">
                            <b-button type="is-light" size="is-large" expanded>
                                <a class="has-text-dark" href="tel:666-666-666">666-666-666</a>
                            </b-button>
                            <b-button type="is-dark" size="is-large" expanded>
                                <a class="has-text-light" href="tel:420-420-420">420-420-420</a>
                            </b-button>
                        </section>
                        
                </div>
            </div>
    </b-modal>


</div>
</template>

<script>

export default {
  name: 'ClientPage',

  components: {
    
  },

  data() {

      return {
          phoneModal: false
      }
  }
}
</script>
<style scoped>

</style>
