<template>
    <div class="container">
        <h1 class="title">Mapa lokali</h1>
        <span class="subtitle">Lokale zostały starannie zaznaczone dla państwa wygody</span>
        <img src="~/assets/mapa.webp">
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>