<template>
    <b-modal :active.sync="show"
                 has-modal-card
                 trap-focus
>
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Dopieszczanie składników - {{ pizza.display }}</p>
            </header>
            <section class="modal-card-body">
                <h4 class="subtitle is-4">Rozmiar:</h4>
                <b-slider :min="0" :max="2" size="is-medium" type="is-info" :tooltip="false" ticks style="padding-bottom:0.5rem" v-model="pizzaSize"> 
                    <b-slider-tick :value="0"><span style="font-size:1rem">Mała</span></b-slider-tick>
                    <b-slider-tick :value="1"><span style="font-size:1rem">Średnia</span></b-slider-tick>
                    <b-slider-tick :value="2"><span style="font-size:1rem">Duża</span></b-slider-tick>
                </b-slider>


                <h4 class="subtitle is-4">Składniki:</h4>
                <b-tag type="is-success"
                    v-for="(ing, index) in pizza.ingradients"
                    :key="index+' '+ing"
                    size="is-medium"
                    style="margin: 0.5rem; cursor: pointer"
                >
                <span @click="removeIng(index)">{{helperGetName(ing)}} - {{ helperGetPrice(ing) }}zł</span>
                
                </b-tag>
                <h4 class="subtitle is-4">Dostępne do wyboru:</h4>
                <b-tag type="is-warning"
                    v-for="(ing, index) in ingradients"
                    :key="index"
                    size="is-medium"
                    style="margin: 0.5rem; cursor: pointer"
                    
                >
                <span @click="addIng(ing)">{{ing.display}} - {{ing.cost}}zł</span>
                </b-tag>
                <h4 class="subtitle is-4">Aktualna cena: {{getPizzaPrice()}}zł</h4>
            </section>
            <footer class="modal-card-foot">
                <b-button type="is-success" expanded @click="newOrder">Dodaj pizzę do zamówienia</b-button>
            </footer>
        </div>

    </b-modal>
</template>

<script>
export default {
    props: {
        getPriceForPizza: {type: Function},
        helperGetName: {type: Function},
        helperGetPrice: {type: Function},
    },
    data(){
        return {
            pizzaSize: 0
        }
    },
    computed:{
        pizza: {
            get(){
                return this.$store.state.order.newPizza
            },
            set(value){
                this.$store.commit("order/setNewPizza", value);
            },
            cache: false,
        },
        show: {
            get() { 
                return this.$store.state.order.showNewPizzaModal 
            },
            set(value){
                this.$store.commit("order/setShow", value);
            },
            cache: false,
        },
        ingradients: { 
            get(){ 
                return this.$store.state.menu.ingradients 
            } 
        },
        sizes: {
            get(){
                return this.$store.state.menu.sizes;
            }
        },
    },
    methods: {
        removeIng(index){
            let copy = JSON.parse(JSON.stringify(this.pizza))
            if(copy.ingradients.length != 1){
                copy.ingradients.splice(index, 1);
            } else {
                copy.ingradients = [];
            }
            this.$store.commit("order/setNewPizza", copy);

        },
        addIng(ing){
            let copy = JSON.parse(JSON.stringify(this.pizza))
            copy.ingradients.push(ing.name);
            this.$store.commit("order/setNewPizza", copy);
        },
        getPizzaPrice(){
            let size = "";
            if(this.pizzaSize == 0){
                size = "small";
            } else if (this.pizzaSize == 1){
                size = "medium"
            } else {
                size = "big"
            }
            return this.getPriceForPizza(size, this.pizza.ingradients);

        },
        newOrder(){
            let newPizza = {...this.pizza};
            newPizza.price = this.getPizzaPrice();
            newPizza.size = this.pizzaSize;
            this.$store.commit("order/addNewPizza", newPizza);
            this.$buefy.snackbar.open({message: "Pizza dodana do zamówienia", position: "is-top", type: "is-success", actionText: null});
        }
    },
    mounted(){
    }
}
</script>

<style>

</style>